/* li {
    display: inline;
} */

html {
    font-family: 'Oswald', sans-serif;
}

.my-nav{
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Oswald', sans-serif;
  }

ul {
    background-color: #34a4eb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

.welcome {
  background-image: url('./images/img-home.jpg');
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-right: -8px;

	
  
}

.goodbye {
  background-image: url('./images/img-logout.jpg');
  background-size: cover;
  height: 400vh;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -22px;
  margin-bottom: -50px;

}

.user-events-parks {
  background-image: url('./images/img-userEventsParks.jpg');
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-right: -8px;

}

.user-card {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.user-card * {
  box-sizing: border-box;
}

.user-card-image {
  
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.user-card-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.user-card-content > p:first-of-type {
  margin-top: 0;
}

.user-card-content > p:last-of-type {
  margin-bottom: 0;
}

.user-card-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}



/* .user-row:after {
  content: "";
  display: table;
  clear: both;
} */

.user-column {
  float: left;
  width: 50%;
  text-align: center
}

.events-parks {
  background-image: url('./images/img-66.jpg');
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-right: -8px;
  

}

.spacer {
    display: inline;
    padding: 8px;
    float: right;
    text-decoration: none;
    color: white;
    /* border-right: 2px solid white; */

}

li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

}
.active:hover {
    border-radius: 10px;
    color: white;
    text-decoration: underline white;
    
    
  }

.icon {
    float: left;
    width: 40px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    object-fit: contain;
    margin: 0px;
    
}

.header {
    padding: 10px;
    text-align: center;
    /* background: #34a4eb; */
    color: white;
    /* border: 3px solid black; */
    font-size: 20px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 16px 16px 16px 16px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 1em;
    color: white;
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 20px;
    font-size: 20px;

  }

  .border {
      border: 1.5px solid white;
      padding: 5px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
  }

.state-select {
  padding:0.8em 4em;

}
.drop-down {
    background-color: rgb(31, 1, 165);
    color: white;
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:20px;
}

.pref-button {
    appearance: button;
    background-color: #34a4eb;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 5px 80px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    font-family: din-round,sans-serif;
    color: black;
    text-decoration: none;
    
    
}

.pref-button:hover {
    background-color: #34a4eb;
    color: black;
    text-decoration: none;
}

.form-button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.sign-up-main {
    background-image: url('./images/img-9.jpg');
    background-size: cover;
    height: 100vh;
    margin-left: -8px;
    margin-right: -8px;
    
}

.login-main {
  background-image: url('./images/img-4.jpg');
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-right: -8px;
 
}

.sign-up-form {
    display: grid;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 300px;
}

.log-in-form {
  display: grid;
  display: inline-block;
  padding: 110px;
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 0px;
}

.form-inputs-sign-up {
  display: inline-block;
  width: 90%;
  padding: 15px;

  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 16px 16px 16px 16px;
  border: 4px solid rgba(4, 87, 4, 0.774);
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.514);
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition: 0.4s ease;
}

.form-inputs-login {
  display: inline-block;
  width: 90%;
  padding: 15px;

  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 16px 16px 16px 16px;
  border: 4px solid rgba(134, 10, 10, 0.774);
  margin-top: -25px;

  box-shadow: 0px 5px rgba(6, 103, 168, 0.2);
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition: 0.4s ease;
}




.mainpage {
    padding-bottom: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }

.mainheader{
  display: inline;
  border: 3px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #34a4eb;
  color: white;
  text-align: center;
}

.search-box {
  width: 40%;
  /* margin: 0 0 75px; */
  margin-left: auto;
  margin-right: auto;
  
  
}


.search-box .search-bar {
  display: inline-block;
  width: 75%;
  padding: 15px;
  /* text-align: center; */
  
  

  appearance: none;
  background: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
  border: 3px solid black;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  /* color: 313131; */
  color: black;
  font-size: 20px;
  transition: 0.4s ease;
}

::placeholder { 
  color: black;
  opacity: 1; 
}

.preference-main {
  background-image: url("./images/yellow.jpg");
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-right: -8px;
}

.column {
  flex: 50%;
  color: white;
  text-align: center;
}

.row {
  display: flex;
  border-radius: 16px 16px 16px 16px;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.324);
}

.eprow {
  display: flex;
  border-radius: 16px 16px 16px 16px;
  border: 3px solid rgb(0, 0, 0);
  background-color: #34a5eb5b;
}

.weather {
  background-image: url("./images/weather.jpg");
  border-image-width: auto;
  border-radius: 16px 16px 16px 16px;
  border: 3px solid rgb(0, 0, 0);
  margin-left: 20%;
  margin-right: 20%;
  
}

.redirect {
  text-decoration: none;
  color: black;
}

.park-background {
  width:1px;
  padding:1rem;
}

.park-image {
  width: 300px;
  height:300px;
  object-fit: contain;
}