/* li {
    display: inline;
} */

html {
    font-family: 'Oswald', sans-serif;
}

.my-nav{
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Oswald', sans-serif;
  }

ul {
    background-color: #34a4eb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

.welcome {
  background-image: url('./images/img-home.jpg');
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-right: -8px;

	
  
}

.goodbye {
  background-image: url('./images/img-logout.jpg');
  background-size: cover;
  height: 400vh;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -22px;
  margin-bottom: -50px;

}

.put-text-in-center {
  
}

.spacer {
    display: inline;
    padding: 8px;
    float: right;
    text-decoration: none;
    color: white;
    /* border-right: 2px solid white; */

}

li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

}
.active:hover {
    border-radius: 10px;
    color: white;
    text-decoration: underline white;
    
    
  }

.icon {
    float: left;
    width: 40px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    object-fit: contain;
    margin: 0px;
    
}

.header {
    padding: 10px;
    text-align: center;
    /* background: #34a4eb; */
    color: white;
    /* border: 3px solid black; */
    font-size: 20px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 16px 16px 16px 16px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 1em;
    color: white;
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 20px;
    font-size: 20px;

  }

  .border {
      border: 1.5px solid white;
      padding: 5px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
  }

.pref-button {
    background-color: white;
    font-size: 20px;
    color: black
    
}

.pref-button:hover {
    background-color: #34a4eb;
    color: black;
}

.register {
    text-align: center;
    width: 100%;
    padding: 200px 50px;
    margin: 100px 0;
    font-size: xx-large;
    
    border: 3px solid rgb(189, 37, 37);
    border-radius: 40px;
    box-sizing: border-box;
    
}

.form {
    display: flex;
    justify-content: center;
    display: inline-block;
    vertical-align: top;
    
    
}

.mainpage {
    padding-bottom: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
  }

.mainheader{
  display: inline;
  border: 3px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #34a4eb;
  color: white;
  text-align: center;
}

.search-box {
  width: 700px;
  /* margin: 0 0 75px; */
  margin-left: auto;
  margin-right: auto;
  
  
}


.search-box .search-bar {
  display: inline-block;
  width: 75%;
  padding: 15px;
  /* text-align: center; */
  
  

  appearance: none;
  background: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
  border: 3px solid black;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  /* color: 313131; */
  color: black;
  font-size: 20px;
  transition: 0.4s ease;
}

::placeholder { 
  color: black;
  opacity: 1; 
}

.preference-main {
  background-image: url("./images/yellow.jpg");
  background-size: cover;
  height: 100vh;
  margin-left: -8px;
  margin-right: -8px;
}