/* li {
    display: inline;
} */

* {
    font-family: 'Oswald', sans-serif;
}

nav{
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
  }

ul {
    background-color: #34a4eb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

.spacer {
    display: inline;
    padding: 8px;
    float: right;
    text-decoration: none;
    color: white;
    /* border-right: 2px solid white; */

}

li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

}
.active:hover {
    border-radius: 10px;
    color: white;
    text-decoration: underline white;
    
  }

.icon {
    float: left;
    width: 40px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    object-fit: contain;
    margin: 0px;
    
}


.register {
    text-align: center;
    width: 100%;
    padding: 80px 20px;
    margin: 100px 0;
    
    border: 3px solid rgb(189, 37, 37);
    border-radius: 40px;
    box-sizing: border-box;
    
}

.newAccount {
    display: flex;
    justify-content: center;
    
}